button {
  appearance: none;
  background-color: #e8e0d0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Fontin", Optima, Serif;
  font-size: 1.25em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.8em 1.6em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
button:hover, button:focus {
  background-color: shade(#e8e0d0, 20%);
  color: #fff;
}
button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
button:disabled:hover {
  background-color: #e8e0d0;
}

a:link {
  color: #e8e0d0;
}

a:visited {
  color: shade(#e8e0d0, 20%);
}

a:hover {
  color: #bea87a;
  text-decoration: underline;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin-bottom: 0.8em;
}
dl dt {
  font-weight: 600;
  margin-top: 0.8em;
}
dl dd {
  margin: 0;
}

table {
  border-collapse: collapse;
  margin: 0.8em 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid shade(#e8e0d0, 25%);
  font-weight: 600;
  padding: 0.8em 0;
  text-align: left;
}

td {
  border-bottom: 1px solid #e8e0d0;
  padding: 0.8em 0;
}

tr,
td,
th {
  vertical-align: middle;
}

html {
  background-color: #500C14;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  color: #e8e0d0;
  font-family: "Fontin", Optima, Serif;
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fontin", Optima, Serif;
  line-height: 1.2;
  margin: 0;
}

p {
  margin: 0 0 0.8em;
}

a {
  color: #e8e0d0;
  text-decoration: none;
  transition: color 150ms ease;
}
a:active, a:focus, a:hover {
  color: shade(#e8e0d0, 25%);
}

hr {
  border-bottom: 1px solid #e8e0d0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.6em 0;
}

img {
  margin: 0;
  max-width: 100%;
}

blockquote {
  font-style: italic;
}

h1 {
  font-size: 4em;
}

h3 {
  margin-bottom: 0;
  margin-top: 0.2em;
}

p {
  font-size: 1em;
  text-align: left;
  line-height: 1.1em;
}
p a {
  color: #e8e0d0;
  font-weight: bold;
}

body {
  margin: 0;
}

.wrapper-attract {
  background-color: #500C14;
  margin: 0px;
  position: relative;
  text-align: center;
}
.wrapper-attract h1.attract {
  padding: .5em 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#500c14+0,75232b+92 */
  background: #500c14;
  /* Old browsers */
  background: -moz-linear-gradient(top, #500c14 24%, #6d2c35 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #500c14 24%, #6d2c35 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #500c14 24%, #6d2c35 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#500c14', endColorstr='#6d2c35',GradientType=0 );
  /* IE6-9 */
  border-bottom: 1px solid #87535c;
}

.wrapper {
  display: grid;
  grid-template-rows: 15vh 80vh 5vh;
  text-align: center;
}
.wrapper h1 {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#500c14+0,75232b+92 */
  background: #500c14;
  /* Old browsers */
  background: -moz-linear-gradient(top, #500c14 24%, #6d2c35 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #500c14 24%, #6d2c35 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #500c14 24%, #6d2c35 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#500c14', endColorstr='#6d2c35',GradientType=0 );
  /* IE6-9 */
  border-bottom: 1px solid #87535c;
  grid-row: 1;
  padding-top: 1.6em;
}

.video-menu {
  background-color: #e8e0d0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4em;
  padding: 10em 4em;
}
.video-menu a h2 {
  color: #500C14;
  font-size: 2em;
  padding: 1em 0;
}

.video1 {
  grid-column: 1;
}

.video2 {
  grid-column: 2;
}

.video3 {
  grid-column: 3;
}

#video-content {
  position: relative;
  padding-top: 56.25%;
  margin: 1em 3em;
}
#video-content video {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.btm-nav {
  grid-row: 3;
}
.btm-nav p {
  text-align: center;
  font-size: 2em;
}

#attract-anim {
  grid-row: 2;
}
#attract-anim img {
  max-height: 50vh;
  max-width: 50vw;
  position: absolute;
  opacity: 0;
}

/*# sourceMappingURL=mercy-styles.css.map */
