// attract animation

//shorthand syntax: animation: [animation-name] [animation-duration] [animation-timing-function][animation-delay] [animation-iteration-count]
div.photo1 {
  position: relative;
  -webkit-animation: mymove 8s ease-in-out infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 8s ease-in-out infinite;
}

div.photo2 {
  position: relative;
  -webkit-animation: mymove2 8s ease-in-out 4s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove2 8s ease-in-out 4s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  0%   {left: 0%; opacity: 0;}
  50% {left: 50%; opacity: 1;}
  100% {left: 100%; opacity: 0;}
}

/* Standard syntax */
@keyframes mymove {
  0%   {left: 0%; opacity: 0;}
  50% {left: 50%; opacity: 1;}
  100% {left: 100%; opacity: 0;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove2 {
  0%   {top: 150px; left: 0px; opacity: 0;}
  50% {top: 150px; left: 300px; opacity: 1;}
  100% {top: 150px; left: 600px; opacity: 0;}
}

/* Standard syntax */
@keyframes mymove2 {
  0%   {top: 150px; left: 0px; opacity: 0;}
  50% {top: 150px; left: 300px; opacity: 1;}
  100% {top: 150px; left: 600px; opacity: 0;}
}
